.header {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacers-dp12);
}

.headerTitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0 var(--spacers-dp8) 0 0;
}

.controlContainer {
    align-items: center;
    display: flex;
    padding: var(--spacers-dp12) var(--spacers-dp12) var(--spacers-dp16);
}

.controlRight {
    display: flex;
    margin-left: auto;
}

.controlRight > * {
    margin-right: var(--spacers-dp24);
}

.controlRight > *:last-child {
    margin-right: 0;
}
