language: node_js
node_js:
- '8'
cache:
  yarn: true
  directories:
  - node_modules
script:
- npm run build
- npm run deploy
env:
  global:
    secure: hLcILALXXJ1/c3f1v8hYNrFtiTZZQh87KLPvyKHYIok20HahmxvSrUQuYG0YA6zxTjEkw1jCFj2hnszP4NdxACP0gTK5eBHhPGmp0IZhsaEOwRH6fX/4DfpiofASqUc2rNLrhDUa2dxmDV+CbEnxIhC8jEyHOhdKjgGaFE1tiC4EjWmWLwOMGXCFil5EhdVIs7U5vo/yBUq+RLbAKxJbojsRLFpmTC0LZD+ECtpPpPqwnlTDvZ1G3TVDYnvl21NToGGPT3isE1GLoNQ/0sMpveamitpw8qzuJMgMhRmf3xPSnhmbrEgq8qhpBs3gQgZRx/o+KexuaZ2Kn/F42Ws5h2GRga6Ojh0ZgfWis3x4GBdDMgV1mSrpOLqDWw9+RiZoNjlfB/8LkoE8nijTr+IT6ZUQEKc31bhqSIi3IqhviPc+lN2iiRTUW8dMkhIunUedvCm7nGZmfZoW3PduwW5df2Qzv3uuhMg30s41xc/GHHxyYONvVN/uzQE2zn3mYIPtZfpIrTjp498IccJhnOgTmB4X97nh0coYIsyJckdoid4UuUM1jbqXcbSEbsqH80HR0jkh6vgstO8Xi4K+zwGTRCGPIl0fstwnGvoHeqqMw9uyt7dzY+0LzoBQjohypozUptvqxCiD4uyczoVyhWPMc7Cc8BVPDEsuHNHp6GMIgr8=
