.icon {
    width: 24px;
    height: 24px;
    margin-right: var(--spacers-dp12);
}

.icon.info {
    fill: var(--colors-blue900);
}

.icon.warning {
    fill: var(--colors-yellow700);
}

.icon.error {
    fill: var(--colors-red700);
}
