.pageHeader {
    margin-block-end: var(--spacers-dp32);
}

.pageHeaderTitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.card {
    padding: var(--spacers-dp16);
}

.cardHeader {
    align-items: center;
    display: inline-flex;
    margin-block-end: var(--spacers-dp16);
}

.cardHeaderTitle {
    font-size: 16px;
    font-weight: 500;
    margin: 0 var(--spacers-dp8) 0 0;
}

.jobDetails {
    float: inline-end;
}
