.wrapper {
    font-size: 14px;
    line-height: 1.5;
    padding: 4px 8px;
    margin: 8px;
    background: var(--colors-grey200);
    color: var(--colors-grey900);
    user-select: none;
}

.wrapper:hover {
    background: var(--colors-grey400);
}

.wrapper.highlighted {
    background: var(--colors-teal700);
    color: var(--colors-white);
}

.label {
    margin-bottom: 4px;
}

.type {
    font-size: 12px;
    color: var(--colors-grey600);
}

.wrapper.highlighted .type {
    color: var(--colors-grey300);
}
