name: 'dhis2: verify (app)'

on: push

env:
    GIT_AUTHOR_NAME: '@dhis2-bot'
    GIT_AUTHOR_EMAIL: 'apps@dhis2.org'
    GIT_COMMITTER_NAME: '@dhis2-bot'
    GIT_COMMITTER_EMAIL: 'apps@dhis2.org'
    GH_TOKEN: ${{secrets.DHIS2_BOT_GITHUB_TOKEN}}
    CI: true
    D2_VERBOSE: true

jobs:
    install:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/cache@v2
              id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

            - name: Install
              if: steps.yarn-cache.outputs.cache-hit != 'true'
              run: yarn install --frozen-lockfile

    build:
        runs-on: ubuntu-latest
        needs: install
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

            - name: Build
              run: yarn build

            - uses: actions/upload-artifact@v2
              with:
                  name: app-build
                  path: |
                      **/build
                      !**/node_modules
                  retention-days: 1

    lint:
        runs-on: ubuntu-latest
        needs: install
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

            # Can be removed if translations aren't required for linting to pass, or if not using the App Platform
            - name: Generate translations
              run: yarn d2-app-scripts i18n generate

            - name: Lint
              run: yarn lint

    test:
        runs-on: ubuntu-latest
        needs: install
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

            # Can be removed if translations aren't required for tests, or if not using the App Platform
            - name: Generate translations
              run: yarn d2-app-scripts i18n generate

            - name: Test
              run: yarn test

    e2e:
        runs-on: ubuntu-latest
        if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
        needs: [install]

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

            - name: End-to-End tests
              uses: cypress-io/github-action@v2
              with:
                  start: yarn start
                  command: yarn d2-utils-cypress run --stub --serverMinorVersion 37 --appStart ''
                  wait-on: 'http://localhost:3000'
                  wait-on-timeout: 300
              env:
                  BROWSER: none
                  REACT_APP_DHIS2_BASE_URL: https://debug.dhis2.org/dev
                  REACT_APP_DHIS2_API_VERSION: 37
                  CYPRESS_DHIS2_BASE_URL: https://debug.dhis2.org/dev
                  CYPRESS_DHIS2_USERNAME: ${{ secrets.DHIS2_USERNAME }}
                  CYPRESS_DHIS2_PASSWORD: ${{ secrets.DHIS2_PASSWORD }}
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  CYPRESS_RECORD: true
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SERVER_URL: 'http://localhost:3000'

    publish:
        runs-on: ubuntu-latest
        needs: [build, lint, test, e2e]
        if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{env.GH_TOKEN}}

            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/download-artifact@v2
              with:
                  name: app-build

            - uses: dhis2/deploy-build@master
              with:
                  # uncomment following line for monorepo apps:
                  #cwd: ./packages/app
                  build-dir: build/app
                  github-token: ${{ env.GH_TOKEN }}

    release:
        runs-on: ubuntu-latest
        needs: [publish]
        if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{env.GH_TOKEN}}

            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - name: Publish release to GitHub
              run: npx @dhis2/cli-utils release
